body {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    background: url(./tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-21.jpg) no-repeat center/cover;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: #2D3435;
    position: fixed;
    display: none;
}

.container {
    width: 100px;
    height: 100px;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: '';
    height: 30px;
    width: 30px;
    background: transparent;
    border: 20px ridge;
    border-color: aqua transparent;
    border-radius: 50px;
    animation: Reload 1s infinite;
}

.box {
    height: 1000px;
    background-color: #333;
}

@keyframes Reload {
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}